@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Sung Na A01181039 sna4@my.bcit.ca</h2>
    <h2>Fahad Sayed A... thesayedfahad@gmail.com</h2>
</div>
